mlflow==2.22.0
pandas==2.2.3
scikit-learn==1.6.1
scipy==1.15.3
gunicorn==23.0.0
numpy==2.2.6
matplotlib==3.10.3
seaborn==0.13.2
prefect==3.4.2
pytest==8.3.5
pre-commit==4.2.0
black==25.1.0
isort==6.0.1
pylint==3.3.7
evidently==0.7.5
setuptools==80.8.0
